/* Fix definitivo para Safari */
.react-calendar * {
	color: black;
	-webkit-text-fill-color: black; /* Anula estilos nativos */
  }
  
  /* Reset de interacción táctil */
  .react-calendar__tile {
	-webkit-tap-highlight-color: black;
  }
  
  /* Prioridad máxima para estados activos */
  .react-calendar__tile--active,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
	color: white !important;
	-webkit-text-fill-color: white !important;
  }