.TeachSaldo {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 120px;
    top: 140px;
    right: 4%;
    background: #E62B3FB2;
    border-radius: 30px;
}


.saldocontainer {   
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    font-size: clamp(23px, 1.4vw, 15px  );
    font-weight: 700;
}
@media screen and (max-width: 800px) {
   
}
