.Calls-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: #2C2E43B8;
    align-content: center;
    z-index: 10;
}

.Logo_Calls{
  width: 100px;
  margin: auto;
}
:root {    
   /* --tamano-alto-div: 45vw; */
   --tamano-alto-div: 49vw;
    --div-llamadas: 50%;
    --color-primario: black;; 
  }

  .ContenCall {
    display: flex;
    flex-direction: column;
    background: #E62B3F;
    height: 100vh;
}

.full_screen{
    position: relative;    
    display: flex;
    width: 100%;    
    height: var(--tamano-alto-div);  
}


.contenPantalla {
    position: relative;
    background: white;
    width: 100vw;   
}


.InfoCall {  
    display: block;
    width: 100vw;
    padding: 0px;      
    height: 100vh;
    padding: 0px;
}

.DivUser{    
    display: none;
    width: 100%;
    height: var(--div-llamadas);
    background: var(--color-primario);
    border: 17px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 5px 0px 0px 0px;
}

.Video_saliente {
    width: 15%;
    height: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;   
    background: var(--color-primario);
    border-radius: 20px;
    margin: 0px 0px 5px 0px;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    left: 5%;
    bottom: 5%;
}


.Video_Entrante {
    position: absolute;
    width: 100vw;
    height: var(--tamano-alto-div); 
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid black;
    background: var(--color-primario);  
    overflow: hidden; 
    
}

.VideoCall {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;       
    transform: scaleX(-1);
}



 .VideoCall::-webkit-media-controls-timeline {
    display: none; 
  }
  
  .VideoCall::-webkit-media-controls-current-time-display,
  .VideoCall::-webkit-media-controls-time-remaining-display {
    display: none; 
  }

  .VideoCall::-webkit-media-controls-play-button {
    display: none; 
  }
  
  

  .call-timer {
    font-weight: 700;   
    color: #fff;
    text-align: end;
    margin: 10px;
    z-index: 10;
}

.red{
    color: #E62B3F;
}

.Control-container {
    position: relative;
    display: flex;
    position: absolute;    
    flex-direction: row;
    width: 100%;
    bottom: 2%;
    justify-content: center;
    z-index: 10;
}

.video-call-icons {
    display: flex;
    margin-bottom: 15px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 2vw;
    border-radius: 100%;
    cursor: pointer;
}


.imgcall{
    width: 100%;
    height: 100%;     
    border-radius: 20px; 
  
}


.no-video-icon{
   color: white;
   position: absolute;
}

.on{
   background: green;
}

.off{
    background: #2C2E43;
}

.no-audio-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; 
  }


  .incoming-audio-icon {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 100%;
    cursor:auto;   
}

.custom-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #00000080;
    padding: 5px;
    margin-top: 53%;
}

  .nombre-recibido {
    margin-right: 10px;
    text-align: center;
    width: 100%;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.ico2{
    font-size: 30px;
}

.custom-icon2{
    margin-right: 20px;
}

.custom-icon2.green {
  color: green; 
}

.custom-icon2.red {
  color: #E62B3F;
}

.custom-icon i {
  font-size: 20px;
  color: white;
}

.Error{
   margin: 2px;
   color: #E62B3F;
   font-weight: 600;
}

.height-percent{
    height: 100%;
}

@media screen and (max-width: 600px) {

    .Control-container {
        position: fixed;
    }
    
    .full_screen {
        width: 100%;
        margin-bottom: 20px;
       /* height: 130vw;*/
    }

    .contenPantalla {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0px;        
    }

    .InfoCall {       
        height: auto;
    }

   
    .Video_Entrante {
        height: 100vh;
        border-radius: 0px;
    }

   
    
    .Video_Entrante > .VideoCall{
      border-radius:  0px;    }

    .Video_Entrante > .no-video-icon{
        font-size: 300%;
  }

  .Video_saliente {
    position: absolute;
    width: 25%;
    height: 20vw;
    margin: 15px 5px;
    border: 1px solid white;
    right: 0px;
    top: 55px;
}

    .Video_saliente > .VideoCall{
        right: 10px;
    }

    .Video_saliente > .no-video-icon{
          font-size: 200%;
    }


  

    .video-call-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;       
        width: 100%;
    }

    .icon-wrapper {      
        height: 50px;
        width: 50px;
        font-size: 5vw;
    }

    .height-percent{
        height: 100%;
    }
   

}