.notification-icon {
    cursor: pointer;
    position: relative;
    font-size: 26px;    
    border-radius: 100%;
    border: solid 1px #abb7c194;  
    width: 44px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 5px;
  font-size: 10px;
  width: 15px; 
}

.modal-Notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.content-Notification {
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 90%;
  overflow: auto;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.iframeVideo {
  width: 100%; 
  max-width: 100%; 
  height: 100%;
  border-radius: 10px;
}


.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
}

.close:hover {
  color: #000;
}

.description{
  font-weight: 500;
}




@media screen and (max-width: 600px) {

  .description{
    font-size: 80%;
    font-weight: 500;
  }

  .content-Notification {
     width: 100%;
     height: 100%;
     padding: 10px;
  }
  
  .iframeVideo { 
    height: 50%;
  }
  
  
}




