.points {
    background: rgb(17, 15, 80);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 0px 15px;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 15px;
}