.menu-Settings {
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 20px;
}

.menu-item{
  width: min-content;
  height: min-content;
}

.menu-item {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #E62B3FCC;
  border: none;
  color: white;
}

.mas{
  background: rgba(255, 255, 255, 0.628);
}

.pagoimg img{
   width: 80%;
}

.modal{
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.163);
}


.modal-content{
  margin: auto;
  width: 50%; 
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.Continputpay{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.TexPay{
  margin: 20px 0px 0px 10px;
}

.inputpay{
  margin: 10px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.344);
}

.buttonplay{
  background: #E62B3F;
    color: white;
    font-size: 1.2vw;
    width: 150px;
    border-radius: 30px;
    border: none;
    padding: 5px;
    font-weight: 500;
    margin: 30px;
}


@media screen and (max-width: 850px) {

  .TeachSaldo {
    position: static;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: center;
    background: none;
    margin-bottom: 20px;
}

.saldocontainer {
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
}

.saldocontainer p {
  color: rgba(0, 0, 0, 0.709);
  margin: 2%;
  font-size: clamp(20px, 1.4vw, 40px);
}

.menu-Settings {
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.menu-item {
  width: 40px;
  height: 40px;
  margin: 10px;
}


.mas {
 border: 1px solid rgba(0, 0, 0, 0.272);
}

.mas img {
  width: 90%;
  border-radius: 100%;
}

.modal{
  background: rgba(255, 255, 255, 0.676);
}

.modal-content{
  width: 95% ;
 
 
}

.Continputpay{
  width: 90%;
}

.buttonplay{
  font-size: 15px;
}

.TexPay{
   width: 60%;
}

.close{
  color: red;
}

}