#root {
 /* max-width: 1280px;*/
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}




/*NUEVA CSS*/
.exRRDa {
  padding: 15px; 
}



.hOedpm { 
  text-align: center;
  font-weight: 700;
}

a{
  color: #007bff !important;
}

.iconSocial{
  color: white;
}

.checkboxRemember{
  color: white !important;
  background: white !important;
  margin-right: 5px;
}



#root > div > form > div > div.sc-dLMFU.cqiehL > div > input[type=checkbox]{
  background: none !important;
}

#root > div > div.sc-gEvEer.ewRJqX > div:nth-child(1) > button{
  background: #007bff;
}

.legal-links{
  width: 100% !important;
}


.legal-links p { 
  display: inline;
  font-size: 12px;
  margin: 0px 10px;
}


@media screen and (max-width: 600px) {
  .fGRSKu > div{
    margin: 3px 0px;
  }

  
  .cxQmuk {
    margin: 50px 20px;
    flex-direction: column;   
  }

  .geBATz {
    width: 100%;
  }

  .eaGAUE {   
    flex-direction: column;
  }

  .eSbmml > div{
    display: block;
  }

  .gLdBYr{
    justify-content: center;
  }

  .icon-wrapper {
    height: 100%;
    width: 100%;
    padding: 7px;
    margin: 5px;
}


.icon-wrapper > i{
   font-size: 10px;
}

}