#root {
 /* max-width: 1280px;*/
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
}




/*NUEVA CSS*/

body{
  min-width: 320px;
}

.exRRDa {
  padding: 15px; 
}



.hOedpm { 
  text-align: center;
  font-weight: 700;
}

a{
  color: #007bff !important;
}


input[type="checkbox"] {
  background: white;
  color: white;
}






#root > div > form > div > div.sc-dLMFU.cqiehL > div > input[type=checkbox]{
  background: none !important;
}

#root > div > div.sc-gEvEer.ewRJqX > div:nth-child(1) > button{
  background: #007bff;
}

@media screen and (max-width: 600px) {
  .fGRSKu > div{
    margin: 3px 0px;
  }

  
  .cxQmuk {
    margin: 50px 20px;
    flex-direction: column;   
  }

  .geBATz {
    width: 100%;
  }

  .eaGAUE {   
    flex-direction: column;
  }

 
}