:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  padding: 0px;

  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {  
   width: 100vw;
   margin: 0;
   padding: 0;
   text-align: center;
 } 



body {
  margin: 0px;
  display: flex;
  place-items: center; 
  min-height: min-content;
  overflow-x: hidden ;    
}

