.contenTeach {
    position: relative;
    height: 122vh;
    background: 
        linear-gradient(to bottom, transparent, white 40%), /* Degradado sobre la imagen */
        url('/public/home/fondo 1.jpeg'); /* Imagen de fondo */
    background-position: 0% 46%;
    background-size: 100%;
}

.InfTeach {
    position: absolute;
    background: linear-gradient(to bottom, transparent 0%, white 60%, #CD3148 100%);
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
}
.profile-container-name {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: row;    
    width: min-content;     
    margin: auto;
  }
  
  .profile-container-name h2 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    margin: 0px 5%;
    font-size: 4vw;
  }

  .profile-container-name h3{
    display: none;
  }

.profile-picture{
    margin: auto;
    width: min-content;
    height: min-content;
    border-radius: 100%;    
}

.rounded-circle{
    width: 180px;
    height: 180px;
}

.Div-li2{
    margin: 20px 0px;
}

.bandera {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 100%;
}
.profile-info{
    position: absolute;
}

.gallery{
    display: none;
    width: 100px;
}

.Biografia {
    width: 50%;
    margin: auto;
    height: 250px;
}

.Biography p{
  width: 50%;
  margin: auto;
  overflow-wrap: break-word;
}

.Biografia textarea {
    width: 100%;
    height:inherit;
    background: none;
    border: none;    
    text-align: -webkit-center;
}


.contenCalendar {
    position: absolute;
    width: 240px;
    border-radius: 30px;
    top: 280px;
    right: 4%;
    background: #E62B3FB2;
    color: white;
    font-size: clamp(50px, 1.4vw, 68px  );
    padding: 8px;
}

.social-icons {
    position: absolute;
    top: 290px;
    left: 4%;
    display: none;
    flex-direction: column;
    background: #2C2E43E8;
    color: white;   
    justify-content: left;
    align-items: baseline;
    border-radius: 20px;
}

.social-icon-wrapper{
    display: flex;
    align-content: flex-start;
    justify-content: left;
    align-items: baseline;
    width: 150px;
    padding: 10px 20px;
}

.FooterTeach {
  top: 800px;
  background: linear-gradient(to bottom, rgba(205, 49, 72, 0) 0%, #CD3148 8%);
}


.payment{
  width: min-content;  
}

.course-offer{
  position: absolute;
  padding: 10px;
  background: #2C2E43E8;
  left: 2%;
  top: 45%;
  border-radius: 30px;
}

.course-includes {     
  color: white;
  font-weight: 400;
  
}

.Div-li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}

.Div-li i{
 margin: 2px 10px 2px 2px;
}

.Div-li strong{
  margin: 2px 10px 2px 2px;
 }

 .Div-li p{
  margin: 2px 10px 2px 2px;
 }


 .Me_Pagos {
  position: absolute;
  top: 30%;
  right: 2%;
  background: #E62B3FB2;
  padding: 10px;
  border-radius: 30px;
  color: white;
}

.img-Pagos{
  margin: 10px 0px;
}

.img-Pagos img{
  width: 50px;
  margin: 3px;
}





@media screen and (max-width: 850px) {

    .InfTeach {
        
    }


    

    .profile-container-name {
        flex-direction: column;        
        width: 100%;
    }

    .profile-container-name h2{
        display: none;
      }
      
      .profile-container-name h3 {
        position: absolute;        
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        font-size: clamp(20px, 1.4vw, 40px);
        background: white;
        padding: 10px;
    }

      .responsive-name{
        width: 100%;
        display: flex;
        flex-direction: row;
      }


      .responsive-name div{
        width: 100%;
       height: 10px;
       background:#CD3148;
      }
      
      .Div-li2{
        font-size: 13px;
        margin: 10px;
      }

      .Div-li2 img{
        width: 20px;
        height: 20px;
      }

      .black{
        display: none;
      }

      .Biografia{
        width: 95%;
      }

      .Biography p{
        width: 90%;
      }
  
      .FooterTeach {
        top: 95%;
        background: linear-gradient(to bottom, rgba(205, 49, 72, 0) 0%, #CD3148 10%);
    }

      .contenCalendar {
        position: static;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    .Me_Pagos {
      position: static;
      width: 80%;
      margin: auto;
      margin-bottom: 20px;      
    }

    .payment{
       display: flex;
       width: 100%;
       margin: 20px 0px;
    }

    .course-offer {
      position: static;
      margin: auto;
    }

     
}